@{
    ViewData["Title"] = "Opret Auktion";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<input id="Titlel" type="text" value="Titlel" /><div></div>
<input id="Tid" type="text" value="Tid" /><div></div>

<input id="Start Pris" type="text" value="Start Pris" /><div></div>
<input id="Max pris" type="text" value="Max pris" /><div></div>

<input id="Beskrivelse" type="text" value="Beskrivelse"/><div></div>
<input id="Katagori" type="text" value="Katagori" /><div></div>

 <input id="OpretAuktionKnap" type="button" value="Opret" />

<p>Use this area to provide additional information.</p>
